.signUp, .signIn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25vw;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  padding: 20px;
  height: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: white;
}
.signIn {
  margin-top: 30%;
}
.signUp {
  margin-top: 20%;
}
@media (max-width: 800px) {
  .signUp, .signIn {
    width: 50vw;
  }
}

.form {
  .submit {
    width: 100%;
    min-height: 30px;
    text-align: center !important;
    padding: 2px 5px;
    margin-top: 3rem;
    background: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: #bdbdbd;
      color: #fff;
      transition: 0.5s;
    }
    &:focus {
      outline: none;
    }
  }
}

.input {
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  height: 2rem;
  padding: 2px 5px;
  outline: none;
  ::placeholder {
    color: #bdbdbd !important;
  }
}
.mt-1 {
  margin-top: 1rem;
  }
.mt-3 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 1em;
}
.mb-3 {
  margin-bottom: 3em;
}
.error-message {
  font-size: 10px;
  color: red;
}