.ad-page{
    margin-top: 30px;
    width: 1200px;

    .create{
        color: brown;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 40px
    }

    .descInput{
        height: 200px;
    }
    .image{
        color: gray;
        button{
            color: wheat;
        }
    }
    .headerProd{
        width: 30%;
        font-size: large;
        margin-bottom: 10px;
    }
    margin-bottom: 40px;

    .submitBtn{
      
        button{
            background-color: white;
        }

        display: flex;
        justify-content: flex-end;
       .submit{
        height: 50px;
        margin-top: 30px;
        width: 30%;
       }
    }

    .block{
        font-size: large;
        background-color: white;
        border: 1px solid gray;
        margin-bottom: 20px;
        padding: 30px;
    }
}
body{
    background-image: url('../../../img/107895-kirpichnaya_kladka-kirpich-uzor-zamok-naklejka_na_stenu-3840x2160.jpg');
}
.main{
    background-color: white;
}
